<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img src="assets/img/patients/patient.jpg" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h3>{{this.vari.personne.prenom}} {{this.vari.personne.nom}}</h3>
                <div class="patient-details">
                    <h5><i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38 years</h5>
                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li class="active">
                    <a href="#" routerLink="/patient_dashboard">
                        <i class="fas fa-columns"></i>
                        <span>Rendez-Vous</span>
                    </a>
                </li>

                <li>
                    <a>
                        <i class="fas fa-bookmark"></i>
                        <span>Mon profil</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fas fa-list-alt"></i>
                        <span>Historique des Rendez-Vous</span>
                        <small class="unread-msg">7</small>
                    </a>
                </li>
                <!-- 
                <li>
                    <a href="index.html">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>

</div>